
<!-- ------------Content------------- -->
<section id="content">
  <div class="wrap-content zerogrid">
        <% @groups.each.with_index do |group , index| %>
            <% if index % 4 == 0 %>
                <% if index > 1 %>
                    </div>
                <% end %>
                <div class="row block03">
            <% end %>
                <div class="col-1-4">
                  <div class="wrap-col">
                    <article>
                      <img id="img" fieldname="group_pictureref" src="<%= group.pictureref ? "/data/#{group.pictureref}":'#' %>" onerror="this.src='/data/default_group';" />
                      <h2><%= group.name  %> </h2>
                    </article>
                  </div>
                </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ------------Footer------------- -->
<footer>
  <div class="wrap-footer zerogrid">
    <div class="row block09">
      <div class="col-1-4">
        <div class="wrap-col">
          <div class="box">
            <div class="heading"><h2>Nosotros</h2></div>
            <div class="content">
              <p>Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis natoque penatibus.</p>
              <p>Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis natoque penatibus.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-4">
        <div class="wrap-col">
          <div class="box">
            <div class="heading"><h2>Últimos anuncios</h2></div>
            <div class="content">
              <ul>
                <li><a href="#">Magic Island Ibiza</a></li>
                <li><a href="#">Bamboo Is Just For You</a></li>
                <li><a href="#">Every Hot Summer</a></li>
                <li><a href="#">Magic Island Ibiza</a></li>
                <li><a href="#">Bamboo Is Just For You</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-4">
        <div class="wrap-col">
          <div class="box">
            <div class="heading"><h2>Álbums preferidos</h2></div>
            <div class="content">
              <div class="tag">
                <a href="#">Galaxy</a><a href="#">Beatport</a><a href="#">Amazon</a><a href="#">Itunes</a><a href="#">Sonic</a><a href="#">Kpopps</a><a href="#">Summer</a><a href="#">Magical</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-4">
        <div class="wrap-col">
          <div class="box">
            <div class="heading"><h2>Contáctenos</h2></div>
            <div class="content">
              <ul>
                <li>Dirección : 0123 Some Street. Country</li>
                <li>Teléfono : 000.000.000.000</li>
                <li>Email : admin@zerotheme.com</li>
                <li>Website : www.zerotheme.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row copyright">
      <p>Copyright © 2013 - <a href="http://www.zerotheme.com" target="_blank">Free Html5 Templates</a> and <a href="http://www.zerotheme.com" target="_blank">Free Responsive Templates</a> by Zerotheme.com</p>
    </div>
  </div>
</footer>
