<nav>
  <div class="wrap-nav zerogrid">
    <div class="menu">
      <ul>
        <li class="current"><a href="/">Inicio</a></li>
        <li><a href="/public/groups">Grupos</a></li>
        <li><a href="/public/concerts">Conciertos</a></li>
        <li><a href="/public/locals">Locales</a></li>
        <li><a href="/public/aboutus">Acerca de</a></li>

      </ul>
    </div>

    <div class="minimenu"><div>MENU</div>
    <select onchange="location=this.value">
      <option></option>
      <option value="index.html">Inicio</option>
      <option value="blog.html">Bands</option>
      <option value="gallery.html">Conciertos</option>
      <option value="single.html">Acerca de</option>
      <option value="contact.html">Contactar</option>
      <option value="/private">Entrar</option>
    </select>
  </div>    
</div>
</nav>